main{
	width: 87vw;
	margin: auto;
}

.projectContainer {
    position: relative;
    width: 100%;
    height: 200px;
    margin:  3px auto 5px auto;
	display: block;
	overflow: hidden;
}
.projectContainer img{
	height: 100%;
}

.projectContainer .textOverlay{
    position: absolute;
    bottom: 0px;
    left: 0px;
    color: #F2F2D8;
    background-color: rgba(39,39,36, 0.75);
    width: 100%;
    padding: 5px 5px 10px 15px;
}

.projectContainer .overlay{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(rgba(252, 249, 164, 0.22), rgba(160, 98, 42, 0.22));
    background-repeat: no-repeat;
    background-size: cover;
}

#openAwardsMenu{
	background-color: #2e2f2a;
	display: block;
	width: 100%;
	padding: 10px 0px;
	margin: 10px auto 0px;
	font-size: 25px;
	font-weight: 200;
	text-align: left;
	position: relative;
	text-indent: 20%;
}
h4 {
    font-weight: 100;
    font-size: 0.9em;
}

h3 {
    font-weight: 400;
    font-size: 0.9em;
}
#awardsMenu{
	margin-bottom: 10px;
}
#awardsMenu ul{
	display: none;
	list-style-type: none;
}
#awardsMenu li button{
	background-color: #2e2f2a;	
	font-size: 20px;
	color: var(--paragraphs-color);
	font-weight: 100;
	width: 80%;
	margin-left: 20%;
	text-align: left;
	padding: 10px 0px 10px 20px; 
}

#awardsMenu li {
	text-align: left;
	margin: 1.5px 0px;
}

.categorieTitel{
	text-align: left;
	font-weight: 100;
	margin-top: 20px;
	margin-bottom: 20px;
}
