/**********************************************
     Uitlijning van favoriete projecten
**********************************************/
h4 {
    font-weight: 400;
    font-size: 0.9em;
}

h3 {
    font-weight: 600;
    font-size: 0.9em;
}

#favoriteImages {
    margin: 20px 0 50px 0;
}

.overlay {
    position: relative;
    width: auto;
    height: 32vh;
    margin: 0px 15px 10px 15px;
    background: linear-gradient(rgba(252, 249, 164, 0.22), rgba(160, 98, 42, 0.22)),
        url(./../Images/controller.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.textOverlay {
    position: absolute;
    bottom: 0px;
    left: 0px;
    color: #F2F2D8;
    background-color: rgba(39, 39, 36, 0.75);
    width: 95%;
    padding: 10px 5px 10px 15px;
}

#favoStarStyle {
    height: 25px;
    float: right;
    margin-right: 6%;
    margin-top: -30px;
    display: inline-block;
}
